html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  overscroll-behavior: contain;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

canvas {
  display: block; /* make the canvas act like a block   */
  width: 100%; /* make the canvas fill its container */
  height: 100%;
}
